# Zadanie 1
## Mateusz Baran
### 155620

In [145]:
import pandas as pd  # pip install pandas

In [146]:
data = pd.read_csv('data.csv', encoding='utf-8')

In [147]:
data

,NAME,STREET,POST_CODE,CITY,LONGITUDE,LATITUDE,HUMIDITY_AVG,PRESSURE_AVG,TEMPERATURE_AVG,PM10_AVG,PM25_AVG,TIMESTAMP
0,SZKO?A PODSTAWOWA Z ODDZIA?AMI INTEGRACYJNYMI ...,UL. SPORTOWA,05-825,GRODZISK MAZOWIECKI,20.619233,52.098768,69.400000,979.058333,12.308333,3.925000,2.883333,2023-11-03 09:00:00.0
1,TECHNIKUM NR 5 W RYBNIKU,UL. J?ZEFA RYMERA,44-270,RYBNIK,18.496919,50.060718,68.516667,959.366667,14.975000,13.558333,10.783333,2023-11-03 09:00:00.0
2,SZKO?A PODSTAWOWA IM. HENRYKA SIENKIEWICZA W D...,ul. Stra?acka,66-615,D?bie,15.145142,52.007880,90.233333,980.658333,9.675000,10.058333,9.158333,2023-11-03 09:00:00.0
3,PUBLICZNA SZKO?A PODSTAWOWA W CISIU,UL. CISIA?SKA,42-290,CISIE,21.383773,52.212355,70.566667,958.108333,14.725000,34.641667,29.408333,2023-11-03 09:00:00.0
4,SZKO?A PODSTAWOWA SPECJALNA NR 7 IM. MARII KON...,UL. ROTMISTRZA WITOLDA PILECKIEGO,58-100,?WIDNICA,16.497382,50.852028,89.666667,962.183333,10.716667,22.625000,17.483333,2023-11-03 09:00:00.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1467,SZKO?A PODSTAWOWA W LASECZNIE,NaN,14-202,LASECZNO,19.435610,53.598272,84.200000,978.572727,9.981818,5.327273,6.281818,2023-11-03 09:00:00.0
1468,PUBLICZNA SZKO?A PODSTAWOWA W KOCHCICACH,UL. PARKOWA,42-283,KOCHCICE,18.682157,50.708244,75.325000,955.466667,12.833333,17.941667,17.666667,2023-11-03 09:00:00.0
1469,SZKO?A PODSTAWOWA IM. TW?RC?W LITERATURY DZIEC...,UL. SZKOLNA,14-241,Z?BROWO,19.455725,53.636496,85.608333,978.750000,9.975000,19.200000,12.000000,2023-11-03 09:00:00.0
1470,SZKO?A PODSTAWOWA NR 3 IM. FRYDERYKA CHOPINA W...,UL. ?ABIE OCZKO,05-822,MILAN?WEK,20.658006,52.123646,69.841667,979.941667,12.258333,2.633333,2.758333,2023-11-03 09:00:00.0
1471,SZKO?A PODSTAWOWA IM.MIKO?AJA KOPERNIKA W ???Y...,NaN,87-123,???YN,19.145136,51.919438,84.708333,978.916667,11.066667,5.758333,5.775000,2023-11-03 09:00:00.0

In [148]:
data.describe()

,LONGITUDE,LATITUDE,HUMIDITY_AVG,PRESSURE_AVG,TEMPERATURE_AVG,PM10_AVG,PM25_AVG
count,1472.000000,1472.000000,1469.000000,1469.000000,1469.000000,1472.000000,1472.000000
mean,19.235994,51.250196,77.527627,969.460252,11.837549,8.670201,7.273540
std,2.103883,1.274382,13.375664,18.397787,4.422808,8.071361,6.944368
min,14.499552,49.337977,0.000000,920.016667,-40.000000,0.000000,0.000000
25%,17.659426,50.130041,69.616667,959.533333,10.500000,4.000000,3.339091
50%,19.151845,50.966196,75.408333,969.633333,11.716667,6.529167,5.425000
75%,20.917468,52.111126,87.800000,978.266667,13.116667,11.043750,9.454167
max,23.873936,54.661981,100.000000,1100.000000,36.600000,147.250000,147.966667

### Sprawdzenie poprawności typów danych

In [149]:
data.dtypes

NAME                object
STREET              object
POST_CODE           object
CITY                object
LONGITUDE          float64
LATITUDE           float64
HUMIDITY_AVG       float64
PRESSURE_AVG       float64
TEMPERATURE_AVG    float64
PM10_AVG           float64
PM25_AVG           float64
TIMESTAMP           object
dtype: object

#### Zmiana typu object w kolumnie TIMESTAMP na typ datetime

In [150]:
data['TIMESTAMP'] = pd.to_datetime(data['TIMESTAMP'], format='%Y-%m-%d %H:%M:%S.%f')
data.dtypes

NAME                       object
STREET                     object
POST_CODE                  object
CITY                       object
LONGITUDE                 float64
LATITUDE                  float64
HUMIDITY_AVG              float64
PRESSURE_AVG              float64
TEMPERATURE_AVG           float64
PM10_AVG                  float64
PM25_AVG                  float64
TIMESTAMP          datetime64[ns]
dtype: object

## Usuwanie danych, które są niekompletne

In [151]:
nan_values = data.isna()
nan_values.sum()

NAME                 0
STREET             348
POST_CODE            0
CITY                 0
LONGITUDE            0
LATITUDE             0
HUMIDITY_AVG         3
PRESSURE_AVG         3
TEMPERATURE_AVG      3
PM10_AVG             0
PM25_AVG             0
TIMESTAMP            0
dtype: int64

In [152]:
data_clean = data.dropna()

In [153]:
data_clean

,NAME,STREET,POST_CODE,CITY,LONGITUDE,LATITUDE,HUMIDITY_AVG,PRESSURE_AVG,TEMPERATURE_AVG,PM10_AVG,PM25_AVG,TIMESTAMP
0,SZKO?A PODSTAWOWA Z ODDZIA?AMI INTEGRACYJNYMI ...,UL. SPORTOWA,05-825,GRODZISK MAZOWIECKI,20.619233,52.098768,69.400000,979.058333,12.308333,3.925000,2.883333,2023-11-03 09:00:00
1,TECHNIKUM NR 5 W RYBNIKU,UL. J?ZEFA RYMERA,44-270,RYBNIK,18.496919,50.060718,68.516667,959.366667,14.975000,13.558333,10.783333,2023-11-03 09:00:00
2,SZKO?A PODSTAWOWA IM. HENRYKA SIENKIEWICZA W D...,ul. Stra?acka,66-615,D?bie,15.145142,52.007880,90.233333,980.658333,9.675000,10.058333,9.158333,2023-11-03 09:00:00
3,PUBLICZNA SZKO?A PODSTAWOWA W CISIU,UL. CISIA?SKA,42-290,CISIE,21.383773,52.212355,70.566667,958.108333,14.725000,34.641667,29.408333,2023-11-03 09:00:00
4,SZKO?A PODSTAWOWA SPECJALNA NR 7 IM. MARII KON...,UL. ROTMISTRZA WITOLDA PILECKIEGO,58-100,?WIDNICA,16.497382,50.852028,89.666667,962.183333,10.716667,22.625000,17.483333,2023-11-03 09:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
1465,SZKO?A PODSTAWOWA IM. JANA PAW?A II W PSARACH,UL. G??WNA,42-287,PSARY,19.113790,50.379455,65.933333,951.816667,13.208333,5.191667,4.908333,2023-11-03 09:00:00
1466,SZKO?A PODSTAWOWA W BRONOWIE,UL. KOLOROWA,43-502,BRON?W,18.910652,49.880398,68.841667,958.600000,15.575000,4.341667,3.483333,2023-11-03 09:00:00
1468,PUBLICZNA SZKO?A PODSTAWOWA W KOCHCICACH,UL. PARKOWA,42-283,KOCHCICE,18.682157,50.708244,75.325000,955.466667,12.833333,17.941667,17.666667,2023-11-03 09:00:00
1469,SZKO?A PODSTAWOWA IM. TW?RC?W LITERATURY DZIEC...,UL. SZKOLNA,14-241,Z?BROWO,19.455725,53.636496,85.608333,978.750000,9.975000,19.200000,12.000000,2023-11-03 09:00:00
1470,SZKO?A PODSTAWOWA NR 3 IM. FRYDERYKA CHOPINA W...,UL. ?ABIE OCZKO,05-822,MILAN?WEK,20.658006,52.123646,69.841667,979.941667,12.258333,2.633333,2.758333,2023-11-03 09:00:00

In [154]:
import re
pattern = r'^\d{2}-\d{3}$'  # sprawdzanie poprawności kodów pocztowych
for index, post_code in data_clean['POST_CODE'].items():
    if not re.match(pattern=pattern, string=post_code):
        data_clean = data_clean.drop(index)

In [155]:
data_clean

,NAME,STREET,POST_CODE,CITY,LONGITUDE,LATITUDE,HUMIDITY_AVG,PRESSURE_AVG,TEMPERATURE_AVG,PM10_AVG,PM25_AVG,TIMESTAMP
0,SZKO?A PODSTAWOWA Z ODDZIA?AMI INTEGRACYJNYMI ...,UL. SPORTOWA,05-825,GRODZISK MAZOWIECKI,20.619233,52.098768,69.400000,979.058333,12.308333,3.925000,2.883333,2023-11-03 09:00:00
1,TECHNIKUM NR 5 W RYBNIKU,UL. J?ZEFA RYMERA,44-270,RYBNIK,18.496919,50.060718,68.516667,959.366667,14.975000,13.558333,10.783333,2023-11-03 09:00:00
2,SZKO?A PODSTAWOWA IM. HENRYKA SIENKIEWICZA W D...,ul. Stra?acka,66-615,D?bie,15.145142,52.007880,90.233333,980.658333,9.675000,10.058333,9.158333,2023-11-03 09:00:00
3,PUBLICZNA SZKO?A PODSTAWOWA W CISIU,UL. CISIA?SKA,42-290,CISIE,21.383773,52.212355,70.566667,958.108333,14.725000,34.641667,29.408333,2023-11-03 09:00:00
4,SZKO?A PODSTAWOWA SPECJALNA NR 7 IM. MARII KON...,UL. ROTMISTRZA WITOLDA PILECKIEGO,58-100,?WIDNICA,16.497382,50.852028,89.666667,962.183333,10.716667,22.625000,17.483333,2023-11-03 09:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
1465,SZKO?A PODSTAWOWA IM. JANA PAW?A II W PSARACH,UL. G??WNA,42-287,PSARY,19.113790,50.379455,65.933333,951.816667,13.208333,5.191667,4.908333,2023-11-03 09:00:00
1466,SZKO?A PODSTAWOWA W BRONOWIE,UL. KOLOROWA,43-502,BRON?W,18.910652,49.880398,68.841667,958.600000,15.575000,4.341667,3.483333,2023-11-03 09:00:00
1468,PUBLICZNA SZKO?A PODSTAWOWA W KOCHCICACH,UL. PARKOWA,42-283,KOCHCICE,18.682157,50.708244,75.325000,955.466667,12.833333,17.941667,17.666667,2023-11-03 09:00:00
1469,SZKO?A PODSTAWOWA IM. TW?RC?W LITERATURY DZIEC...,UL. SZKOLNA,14-241,Z?BROWO,19.455725,53.636496,85.608333,978.750000,9.975000,19.200000,12.000000,2023-11-03 09:00:00
1470,SZKO?A PODSTAWOWA NR 3 IM. FRYDERYKA CHOPINA W...,UL. ?ABIE OCZKO,05-822,MILAN?WEK,20.658006,52.123646,69.841667,979.941667,12.258333,2.633333,2.758333,2023-11-03 09:00:00

#### W tym przypadku jeżeli brakuje kodu pocztowego, to wiersz jest usuwany. Można by to również rozwiązać poprzez uzupełnienie danych odpowiednimi kodami pocztowymi z jakiegoś API, do którego by się wysyłało miasto oraz ulice

### Niestety nie uda się zastąpić znaków zapytania w nazwach szkół i ulic. Problem jest z samymi danymi na stronie, skąd te dane były pobierane. Rozwiązaniem tego mogłoby być API jakiegoś słownika polskiego, gdzie taki wyraz byłby wysyłany w celu zastąpienia znaku zapytania odpowiednią literą.

### Jeżeli chodzi o nazwy ulic, nie jestem w stanie stwierdzić po samych danych, czy dana nazwa ulicy powinna zaczynać się od ul czy może od al ( aleja ), to również można by to rozwiązać poprzez jakieś API, gdzie wysyłało by się nazwy ulic w celu dostania pełniej nazwy ulic.